services:
  api:
    build: ./backend
    environment:
      - AWS_REGION=${AWS_REGION}
      - DDB_TABLE=${DDB_TABLE}
      - DDB_ENABLED=${DDB_ENABLED}
      - ADMIN_TOKEN=admin123
    restart: unless-stopped

  web:
    build: ./frontend
    ports:
      - "80:80"
    depends_on:
      - api
    restart: unless-stopped